<a href="https://colab.research.google.com/github/THSSIR18/cuny-mc-program/blob/main/Sahil's_CUNY_Micro_Credential_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
school = 'cuny baruch college'
print(school)

cuny baruch college

In [ ]:
school = 'cuny baruch college'
print(school.upper())

CUNY BARUCH COLLEGE

In [ ]:
school = 'cuny baruch college'
print(school.lower())

cuny baruch college

In [ ]:
school = 'cuny baruch college'
print(school.title())

Cuny Baruch College

In [ ]:
school = 'cuny laguardia'
print(school[0:1].upper() + school[1:4] + ' ' + school[5:6].upper() + school[6:])

Cuny Laguardia

In [ ]:
school = 'cuny baruch college'
print("cuny \tlaquardia")

cuny 	laquardia

In [ ]:
school= 'Cuny Laguardia'
print (school[0:4] +'\t'+ school [5:])

Cuny	Laguardia

In [ ]:
first_name = 'Thomas'
last_name = '       Jackson'
full_name = first_name + ' ' + last_name.strip()
print(full_name)

Thomas Jackson

In [ ]:
first_name = 'Thomas'
middle_name = '    Rocky    '
last_name = 'Jackson'
full_name = first_name + ' ' + middle_name.strip() + ' ' + last_name
print(full_name)

Thomas Rocky Jackson

In [ ]:
x = 20 
y = 25
# The answer is 45 
z = x + y 
print('The answer is ' +  str(z))

The answer is 45

In [ ]:
movies = ['star wars','star trek', 'lord of the rings', 'avengers']
print(movies)

['star wars', 'star trek', 'lord of the rings', 'avengers']

In [ ]:
print(movies[1])

star trek

In [ ]:
print(movies[1].title())

Star Trek

In [ ]:
movies[1] = 'grown ups 2'
movies = ['star wars','star trek', 'lord of the rings', 'avengers']
print(movies)

['star wars', 'grown ups 2', 'lord of the rings', 'avengers']

In [ ]:
movies = ['star wars','star trek', 'lord of the rings', 'avengers']
print(movies)
movies.sort(reverse=True)
print(movies)
print(len(movies))

['star wars', 'star trek', 'lord of the rings', 'avengers']
['star wars', 'star trek', 'lord of the rings', 'avengers']
4

In [ ]:
print(movies)
print(sorted(movies))
print(movies)

['star wars', 'lord of the rings', 'grown ups 2', 'avengers']
['avengers', 'grown ups 2', 'lord of the rings', 'star wars']
['star wars', 'lord of the rings', 'grown ups 2', 'avengers']

In [ ]:
import sys
print('Python Version')
print(sys.version)
print('Version info')
print(sys.version_info)

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

# list = [if(n%2 == 0)  if n < 237 for n in numbers]
# print(list)
list = []
for n in numbers:
  if n%2 == 0:
    if n < 237:
       list.append(n)
list.sort()
print(list)

Python Version
3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]
Version info
sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)
[24, 58, 104, 162, 236]

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

# list = [if(n%2 == 0)  if n < 237 for n in numbers]
# print(list)
list = []
for n in numbers:
  if n%2 == 0:
    if n < 237:
       list.append(n)
list.sort()
print(list)

[24, 58, 104, 162, 236]

In [ ]:
import datetime
now=datetime.datetime.now()
print('Current date and time : ')
print(now.strftime('%m/%d/%Y %H:%M:%S'))

Current date and time :
01/06/2021 01:59:23

In [ ]:
first_name = ''
last_name = ''
email_extension = ''

name='RoBerT'
print(name.lower())
print(name.upper())

robert
ROBERT

In [ ]:
tvshows = ['money heist','attack on titan', 'indian matchmaking', 'naruto', 'all american']
print(tvshows)

['money heist', 'attack on titan', 'indian matchmaking', 'naruto', 'all american']

In [ ]:
print(sorted(tvshows))

['all american', 'attack on titan', 'indian matchmaking', 'money heist', 'naruto']

In [ ]:
patient = {'first_name': 'John', 'last_name': 'Kimble',}
#print(patient)
print(patient['first_name'] + ' ' + patient['last_name'])

John Kimble

In [ ]:
print('Hello there, ' + patient['first_name'] + ' ' + patient['last_name'])

Hello there, John Kimble

In [ ]:
patient['MRN'] = '00000000'
patient['Last_Exam'] = 'echo'
print(patient)

{'first_name': 'John', 'last_name': 'Kimble', 'MRN': '00000000', 'Last_Exam': 'echo'}

In [ ]:
for the_key, the_value in patient.items():
  print(the_key + ' = ' + the_value)

first_name = John
last_name = Kimble
MRN = 00000000
Last_Exam = echo

In [ ]:
patient_2 = {}
patient_2['first_name'] = 'Jean'
patient_2['last_name'] = 'Picard'
print(patient_2['first_name'] + ' ' + patient_2['last_name'])

Jean Picard

In [ ]:
patient_2['first_name'] = 'Jean-Luc'
print(patient_2['first_name'] + ' ' + patient_2['last_name'])

Jean-Luc Picard

In [ ]:
del patient_2['first_name']
print(patient_2)

{'last_name': 'Picard'}

In [ ]:
patient_3 = {
            'first_name': 'Jack',
             'last_name': 'Sparrow',
             'mrn':       '012345',
             'dob':       '07/01/2002'
             }
print(patient_3)

{'first_name': 'Jack', 'last_name': 'Sparrow', 'mrn': '012345', 'dob': '07/01/2002'}

In [ ]:
people = [{'first_name': 'Jack', 'last_name': 'Sparrow', 'mrn': '012345', 'dob': '07/01/2002'},
          {'first_name': 'Tom', 'last_name': 'Smith', 'mrn': '111111', 'dob': '12/15/1985'},
          {'first_name': 'Michael', 'last_name': 'Roberts', 'mrn': '888888', 'dob': '11/09/1990'}
          ]   
print(people)

[{'first_name': 'Jack', 'last_name': 'Sparrow', 'mrn': '012345', 'dob': '07/01/2002'}, {'first_name': 'Tom', 'last_name': 'Smith', 'mrn': '111111', 'dob': '12/15/1985'}, {'first_name': 'Michael', 'last_name': 'Roberts', 'mrn': '888888', 'dob': '11/09/1990'}]

In [ ]:
for person in people:
  name = person['first_name'].title() + ' ' + person['last_name'].title()
  mrn = person['mrn']
  dob = person['dob']
  print(name + '\t MRN is ' + mrn + '\t DOB is ' + dob)

Jack Sparrow	 MRN is 012345	 DOB is 07/01/2002
Tom Jackson	 MRN is 012345	 DOB is 07/01/2002
Robert Adams	 MRN is 012345	 DOB is 07/01/2002

In [ ]:
people = []
person = {
            'first_name': 'Jack',
             'last_name': 'Sparrow',
             'mrn':       '012345',
             'dob':       '07/01/2002'
             }
people.append(person)

person = {
            'first_name': 'Tom',
             'last_name': 'Jackson',
             'mrn':       '012345',
             'dob':       '07/01/2002'
             }
people.append(person)

person = {
            'first_name': 'Robert',
             'last_name': 'Adams',
             'mrn':       '012345',
             'dob':       '07/01/2002'
             }
people.append(person)

for person in people:
  name = person['first_name'].title() + ' ' + person['last_name'].title()
  mrn = person['mrn']
  dob = person['dob']
  print(name + '\t MRN is ' + mrn + '\t DOB is ' + dob)

Jack Sparrow	 MRN is 012345	 DOB is 07/01/2002
Tom Jackson	 MRN is 012345	 DOB is 07/01/2002
Robert Adams	 MRN is 012345	 DOB is 07/01/2002

In [ ]:
for the_key in patient_3.keys():
  print(the_key + ' = ' + the_value)

first_name = echo
last_name = echo
mrn = echo
dob = echo

In [ ]:
for k in patient_3.keys():
  print(k)

first_name
last_name
mrn
dob

In [ ]:
for v in patient_3.values():
  print(v)

Jack
Sparrow
012345
07/01/2002

In [ ]:
friends_ages = {
                'Nick': '30',
                'Amanda': '34',
                'John': '36',
                'Haley': '26'
                }

favorite_friends = ['Nick', 'Amanda']
for name, ages in friends_ages.items():
  print(name.title() + ' age is ' + str(ages))

  if name in favorite_friends: 
    print('Hi, ' + name.title() + ', I see you are age ' + str(ages))

Nick age is 30
Hi, Nick, I see you are age 30
Amanda age is 34
Hi, Amanda, I see you are age 34
John age is 36
Haley age is 26

In [ ]:
number

In [ ]:
name='RoBerT'
print(name.lower())
print(name.upper())

robert
ROBERT

In [ ]:
tvshows = ['money heist','attack on titan', 'indian matchmaking',    'naruto', 'all american']
print(tvshows)
print(sorted(tvshows))
print(sorted(tvshows, reverse = True))
print(len(tvshows))

['money heist', 'attack on titan', 'indian matchmaking', 'naruto', 'all american']
['all american', 'attack on titan', 'indian matchmaking', 'money heist', 'naruto']
['naruto', 'money heist', 'indian matchmaking', 'attack on titan', 'all american']
5

In [ ]:
first_name='Sahil'
last_name='Rajapkar'
email_extension='@gmail.com'
print(first_name+last_name+email_extension)

SahilRajapkar@gmail.com

In [ ]:
val = input("Do you want to hang out on the 15th of this month?") 
print(val)

Do you want to hang out on the 15th of this month?Yes
Yes